<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXLeCioxsanWjG7HKMIb5Zs_7Ud0st4_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>41027454281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futerennest.bubblebrain</string>
	<key>PROJECT_ID</key>
	<string>bubble-brain-bf563</string>
	<key>STORAGE_BUCKET</key>
	<string>bubble-brain-bf563.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41027454281:ios:8bf959803b986cd2984698</string>
</dict>
</plist>